# Introduction to Python

# Variables, Numbers and Strings

In [1]:
var1 = 1
str_var1 = 'Asad'

In [2]:
int_var = 2
float_var = 5.0
type(int_var)

int

In [3]:
type(float_var)

float

In [4]:
1+100

101

In [5]:
1*100

100

In [6]:
8//2

4

In [7]:
1%100

1

In [8]:
100%1

0

In [9]:
10%2

0

In [10]:
2**2

4

In [11]:
print(2+100)

102

# Strings

In [12]:
var = 'string'
var2 = "asad"

In [13]:
var+var2

'stringasad'

In [16]:
var+' '+"and"+' '+var2

'string and asad'

In [17]:
print("This is a string")

This is a string

In [19]:
'A string' == 'a string'

False

In [20]:
sentence = 'THIs IS A string'

In [23]:
sentence.capitalize()

'This is a string'

In [24]:
sentence2 = "Thsi is a TITled"

In [25]:
sentence2.title()

'Thsi Is A Titled'

In [26]:
sentence.upper()

'THIS IS A STRING'

In [27]:
sentence.lower()

'this is a string'

In [28]:
sentence.split()

['THIs', 'IS', 'A', 'string']

In [29]:
stri = 'This meal is awesome'
stri.replace('meal','Food')

'This Food is awesome'

In [36]:
# replace all spaces with %10
sri2 = 'Our Future is bright'
sri2.replace(' ','%10')

'Our%10Future%10is%10bright'

# Data Structures

# LIST

In [37]:
week_days  = ['mon','Tue','Wed','Thur','Fri']
even = [2,4,6,8,10]
mixed = ['mon',2,'Tue',4]
print(week_days)

['mon', 'Tue', 'Wed', 'Thur', 'Fri']

In [38]:
num = range(7)
for i in num:
    print(i)

0
1
2
3
4
5
6

In [40]:
# Accessing Elements in lists
week_days[0]

'mon'

In [41]:
even[2]

6

In [42]:
print(even[-1])

10

# Slicing

In [43]:
week_days[0:2]

['mon', 'Tue']

In [44]:
week_days[-4:]

['Tue', 'Wed', 'Thur', 'Fri']

In [45]:
week_days[:4]

['mon', 'Tue', 'Wed', 'Thur']

In [46]:
week_days[:]

['mon', 'Tue', 'Wed', 'Thur', 'Fri']

In [47]:
names = ['asad','rana','usam','usman']
names

['asad', 'rana', 'usam', 'usman']

In [49]:
names[0:2] = ['rana','asad']
names

['rana', 'asad', 'usam', 'usman']

In [50]:
names[-1] = 'sanm'
names

['rana', 'asad', 'usam', 'sanm']

In [51]:
del names[3]

In [53]:
names

['rana', 'asad', 'usam']

In [55]:
names = ['asad','rana','usam','usman']
names.pop(2)
names

['asad', 'rana', 'usman']

In [56]:
names = ['asad','rana','usam','usman']
names.remove('usman')
names

['asad', 'rana', 'usam']

In [57]:
# Adding an  item to the list
names.append('rashid')
names

['asad', 'rana', 'usam', 'rashid']

In [58]:
for name in names:
    print(name)

asad
rana
usam
rashid

In [60]:
nums = [1,2,3,4,5,6]
new_num = []
for i in range(len(nums)):
    num = nums[i]+i+1
    new_num.append(num)
new_num

[2, 4, 6, 8, 10, 12]

In [61]:
# add twwo list
a = [1,2,3,4]
b = [4,3,2,1]
c = a + b
c

[1, 2, 3, 4, 4, 3, 2, 1]

In [62]:
## We can also use * operator to repeat a list a number of times
[list] * 5

[list, list, list, list, list]

In [63]:
[True] * 4

[True, True, True, True]

In [66]:
[1,2,3,4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [68]:
nested_list = [1,2,3,['a','b']]
nested_list[3]

['a', 'b']

# List Methods

In [69]:
number = [2,30,32,294,22,293]
number.sort()

In [70]:
number

[2, 22, 30, 32, 293, 294]

In [71]:
number.reverse()
number

[294, 293, 32, 30, 22, 2]

In [72]:
number.append(232)
number

[294, 293, 32, 30, 22, 2, 232]

In [73]:
number.remove(232)
number

[294, 293, 32, 30, 22, 2]

In [74]:
number.pop(1)
number

[294, 32, 30, 22, 2]

In [76]:
number.count(2)

1

In [77]:
stri = "Apple"
list(stri)

['A', 'p', 'p', 'l', 'e']

In [78]:
stri2 = 'List and Strings'
stri2.split()

['List', 'and', 'Strings']

# Dictionary

In [79]:
countries = dict()
countries

{}

In [81]:
type(countries)

dict

In [82]:
countries['Pakistan'] = 1
countries

{'Pakistan': 1}

In [84]:
countries = {'pakistan':1,
          'Unitedstate':23,
          "INdia":22,
          'China':44}
countries

{'pakistan': 1, 'Unitedstate': 23, 'INdia': 22, 'China': 44}

In [85]:
countries['Austrailia'] = 21
countries

{'pakistan': 1, 'Unitedstate': 23, 'INdia': 22, 'China': 44, 'Austrailia': 21}

In [87]:
countries['INdia']

22

In [89]:
'INdia' in countries

True

In [91]:
keys = countries.keys()
keys

dict_keys(['pakistan', 'Unitedstate', 'INdia', 'China', 'Austrailia'])

In [92]:
values = countries.values()
values

dict_values([1, 23, 22, 44, 21])

In [93]:
item = countries.items()
item

dict_items([('pakistan', 1), ('Unitedstate', 23), ('INdia', 22), ('China', 44), ('Austrailia', 21)])

In [94]:
countries.get('Austrailia')

21

In [95]:
# Count Alphabets
stri = ' jjjjsjhjfhjfhsjhfjdfh'
counts = {}
for i in stri:
    if i not in counts:
        counts[i] = 1
    else:
        counts[i]+=1
print(counts)

{' ': 1, 'j': 9, 's': 2, 'h': 5, 'f': 4, 'd': 1}

In [98]:
stri = input("Enter the word or sentence")
counts = {}
for i in stri:
    if i not in counts:
        counts[i] = 1
    else:
        counts[i]+=1
print(counts)
print(stri)

Enter the word or sentencesdkjha ajfajk asadd
{'s': 2, 'd': 3, 'k': 2, 'j': 3, 'h': 1, 'a': 5, ' ': 2, 'f': 1}
sdkjha ajfajk asadd

In [99]:
countries

{'pakistan': 1, 'Unitedstate': 23, 'INdia': 22, 'China': 44, 'Austrailia': 21}

In [100]:
for country in countries:
    print(country)

pakistan
Unitedstate
INdia
China
Austrailia

In [102]:
for country, num in countries.items():
    print(country,num)

pakistan 1
Unitedstate 23
INdia 22
China 44
Austrailia 21

# Tuple

In [103]:
tup = (1,2,3,4,5)
tup[2]

3

In [105]:
# tup[2] =4
# tuples are imutable we cannot change tuple

# Sets

In [106]:
set1 = {1,2,3,4,5,6}
set1

{1, 2, 3, 4, 5, 6}

In [107]:
set2 = {2,34,4,5,6,7,8,8,9,0}
set2

{0, 2, 4, 5, 6, 7, 8, 9, 34}

In [108]:
odd_numbers = [1,1,3,7,9,3,5,7,9,9]

print("List:{}".format(odd_numbers))

print("********")

set_odd_numbers = {1,1,3,7,9,3,5,7,9,9}

print("Set:{}".format(set_odd_numbers))

List:[1, 1, 3, 7, 9, 3, 5, 7, 9, 9]
********
Set:{1, 3, 5, 7, 9}

# Comparison and Logical Operators

In [109]:
100 > 1

True

In [110]:
100 == 1

False

In [111]:
100 < 1

False

In [112]:
100 >=1

True

In [113]:
'Intro to Python' == 'intro to python'

False

In [114]:
100 == 100 and 50 == 50

True

In [115]:
100 <= 10 and 100 == 100

False

In [116]:
100 == 10 or 100 == 100

True

In [117]:
not 1 == 2

True

In [118]:
not 1 == 1

False

# Control Flow

# if elif else

In [119]:
if 100 < 2:

  print("As expected, no thing will be displayed")

In [120]:
if 100 > 2:

  print("As expected, no thing will be displayed")

As expected, no thing will be displayed

In [121]:
if 100 < 2:

  print("As expected, no thing will be displayed")

else:
  print('Printed')

Printed

In [122]:
john_age = 30
luck_age = 20

if john_age > luck_age:
  print("John is older than Luck")

else:
  print(" John is younger than Luck")

John is older than Luck

In [123]:

john_age = 30
luck_age = 20
yan_age = 30

if john_age < luck_age:
  print("John is older than Luck")

elif yan_age == luck_age:
  print(" Yan's Age is same as Luck")

elif luck_age > john_age:
  print("Luck is older than John")

else:
  print("John's age is same as Yan")

John's age is same as Yan

In [124]:
num = 45

'Even' if num % 2 == 0 else 'Odd'

'Odd'

In [125]:
nums = [1,2,3,4,5,6]

True if 3 in nums else False

True

# For Loop

In [126]:
even_nums = [2,4,6,8,10]

for num in even_nums:
  print(num)

2
4
6
8
10

In [127]:
week_days = ['Mon', 'Tue', 'Wed', 'Thur','Fri']

for day in week_days:
  print(day)

Mon
Tue
Wed
Thur
Fri

In [128]:
sentence = "It's been a long time learning Python. I am revisiting the basics!!"

for letter in sentence:
  print(letter)

I
t
'
s

b
e
e
n

a

l
o
n
g

t
i
m
e

l
e
a
r
n
i
n
g

P
y
t
h
o
n
.

I

a
m

r
e
v
i
s
i
t
i
n
g

t
h
e

b
a
s
i
c
s
!
!

In [129]:
sentence = "It's been a long time learning Python. I am revisiting the basics!!"

# split is a string method to split the words making the string

for letter in sentence.split():
  print(letter)

It's
been
a
long
time
learning
Python.
I
am
revisiting
the
basics!!

In [130]:

countries_code = { "United States": 1,
                 "India": 91,
                 "Germany": 49,
                 "China": 86,
                 "Rwanda":250
            }

for country in countries_code:
  print(country)

United States
India
Germany
China
Rwanda

In [131]:
for number in range(10, 20):
  print(number)

10
11
12
13
14
15
16
17
18
19

In [132]:
letters = []

for letter in 'MachineLearning':
  letters.append(letter)

letters

['M', 'a', 'c', 'h', 'i', 'n', 'e', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [133]:
letters = [letter for letter in 'MachineLearning']

letters

['M', 'a', 'c', 'h', 'i', 'n', 'e', 'L', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

# While Loop

In [134]:
a = 10
while a < 20:
    print('a is: {}'.format(a))
    a = a + 1

a is: 10
a is: 11
a is: 12
a is: 13
a is: 14
a is: 15
a is: 16
a is: 17
a is: 18
a is: 19

# Funtions

In [135]:
def add_nums(a,b):

  """
  Function to add two numbers given as inputs
  It will return a sum of these two numbers
  """

  sum = a+b
  
  return sum

In [136]:
add_nums(2,3)

5

In [137]:
def activity(name_1, name_2):

  print("{} and {} are playing basketball!".format(name_1, name_2))

In [138]:
activity('rana','asad')

rana and asad are playing basketball!

In [139]:
# using of lambda
sum_of_two_nums = lambda c,d: c + d

sum_of_two_nums(4,5)

9

In [140]:
message = 'Do not give up!'
len(message)

15

In [141]:
odd_numbers = [1,3,5,7]
len(odd_numbers)

4

In [142]:
odd_numbers = [9,7,3,5,11,13,15,1]

sorted(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15]

# Map Functions

In [143]:
def cubic(number):
  return number ** 3

In [144]:
cubic(2)

8

In [145]:
num_list = [0,1,2,3,4]

In [146]:
list(map(cubic, num_list))

[0, 1, 8, 27, 64]

# Filter funtions

In [147]:
def odd_check(number):
  
  return number % 2 != 0 

# != is not equal to operation

In [148]:
num_list = [1,2,4,5,6,7,8,9,10,11]

list(filter(odd_check, num_list))

[1, 5, 7, 9, 11]

# List Comprehension

In [149]:
# Given a list of numbers, can you make a new list of even numbers from the list nums?
# Even numbers are numbers divisible by 2, and they give the remainder of 0

nums = range(1,20)
even_nums = []


# A traditional way to do it is:

for num in nums: 
  if num % 2 == 0: 
    even_nums.append(num)

print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [150]:
even_nums = [num for num in nums if num % 2 == 0]
print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [151]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
day_T = []

# Make a list of days that start with `T`

for day in days: 
  if day[0] == 'T':
    day_T.append(day)

print(day_T)

['Tuesday', 'Thursday']

In [152]:
day_T = [day for day in days if day[0] == 'T']
print(day_T)

['Tuesday', 'Thursday']

# Enumerate Function

In [153]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']

list(enumerate(seasons))

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]

In [154]:
list(enumerate(seasons, start=1))

[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]

In [155]:
class_names = ['Rock', 'Paper', 'Scissor']

for index, class_name in enumerate(class_names, start=0):
  print(index,'-',class_name)

0 - Rock
1 - Paper
2 - Scissor

# Zip  Function

In [156]:
name = ['Jessy', 'Joe', 'Jeannette']
role = ['ML Engineer', 'Web Developer', 'Data Engineer']

zipped_name_role = zip(name, role)
zipped_name_role

In [157]:
list(zipped_name_role)

[('Jessy', 'ML Engineer'),
 ('Joe', 'Web Developer'),
 ('Jeannette', 'Data Engineer')]